@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#FAF8F5] text-[#002147] font-sans antialiased;
  }
}

/* Minimal Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #FAF8F5;
}
::-webkit-scrollbar-thumb {
  background: #D2B48C;
  border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
  background: #B8976C;
}
